<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serverTest" value="http://aidshaman.somee.com/Shaman"/>
    <add key="ConexionCache" value="Server=200.49.156.125;Port=1972;Namespace=SHAMAN;User ID=IDoMLneOe6l783zrc/Thyw==;Password=rLOGNFRSWhU3c2LP9Gybug==;Aplicacion=EMERGENCIAS;Centro=1;User=JOB" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://200.49.156.125:57779/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="MapaAndLicenceService.ServiceSoap" name="ServiceSoap" />
      <!--<endpoint address="http://200.49.156.125:57779/Service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap12"
        contract="MapaAndLicenceService.ServiceSoap" name="ServiceSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>
